section {
    width: auto;
    height: auto;
}

#menu {
    padding-top: 15%;
    align-items: center;
    padding-left: 15px;
    display:flex;
    flex-direction: column;
    width: 15vw;
    height: 70vh;
    background-color: orangered;
    border-radius: 7%;
}